{% extends "base.html" %}
{% block styles %}
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/register_style.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="form-signup col-12">
    <br/>
    <h2>Restaurant search</h2>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <form method="post" class="row form-inline form-signup container data-form col-md-6 col-6">
        <input name="keywords" type="names" class="form-control col-md-8 col-sm-8 col-12" placeholder="Keyword(s)" required>
        <select name="field_name" class="form-control col-md-4 col-sm-4 col-12" id="sel1">
          <option value="name">Name</option>
          <option value="cuisine">Cuisine</option>
          <option value="zipcode">Zip code</option>
          <option value="borough">Borough</option>
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
    </form>
    <div class="col-md-3"></div>
  </div>
  {% if restaurants|length > 0 %}
    <div class="col-12">
      <br/>
      <h4>Search results:</h4>
      <br/>
    </div>
    <ul class="list-group">
    {% for r in restaurants %}
      <li class="list-group-item">
        <div class="col-md-4">
          <strong>{{ r['name'] }}</strong>.
        </div>
        <div class="col-md-8">
          {{ r['address']['building'] }} {{ r['address']['street'] }}, {{ r['borough'] }}, {{ r['address']['zipcode'] }}.</li>
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
