{% extends "base.html" %}
{% block content %}
  <div class="starter-template">
    <h2>Here's a picture of a cat.</h2><br/>
    <img src="/static/deepdreamcat.jpg" width="40%"/>
  </div>
  <div class="row starter-template">
    <div class="col-sm-12 col-md-6 book">
      <h4>From <i>The Dispossessed</i></h4>
      There was a wall. It did not look important. It was built of uncut rocks roughly mortared. An adult could look right over it, and even a child could climb it. Where it crossed the roadway, instead of having a gate it degenerated into mere geometry, a line, an idea of a boundary. But the idea was real. It was important. For seven generations there had been nothing in the world more important than that wall.
    </div>
    <div class="col-sm-12 col-md-6 book">
      <h4>From <i>The Demon-Haunted World</i></h4>
      "A fire-breathing dragon lives in my garage."<br/>
      Suppose I seriously make such an assertion to you. Surely you'd want to check it out, see for yourself. There have been innumerable stories of dragons over the centuries, but no real evidence. What an opportunity!<br/>
      "Show me," you say. I lead you to my garage. You look inside and see a ladder, empty paint cans, an old tricycle&ndash;but no dragon.<br/>
      "Where's the dragon?" you ask.<br/>
      "Oh, she's right here," I reply, waving vaguely. "I neglected to mention that she's an invisible dragon."<br/>
      You propose spreading flour on the floor of the garage to capture the dragon's footprints.<br/>
      "Good idea," I say, "but this dragon floats in the air."<br/>
      Then you'll use an infrared sensor to detect the invisible fire.<br/>
      "Good idea, but the invisible fire is also heatless."<br/>
      You'll spray-paint the dragon and make her visible.<br/>
      "Good idea, except she's an incorporeal dragon and the paint won't stick."<br/>
      And so on. I counter every physical test you propose with a special explanation of why it won't work.<br/>
      Now, what's the difference between an invisible, incorporeal, floating dragon who spits heatless fire and no dragon at all?
    </div>
  </div>
{% endblock %}
