{% extends "base.html" %}
{% block custom_scripts %}

{% endblock %}
{% block styles %}
  <link href="/static/style.css" rel="stylesheet">
  <link href="/static/register_style.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="container">
    <br/>
    <form method="post" action={% url 'edit_restaurant' %} class="form-signup">
      <h2 class="form-signup-heading">Restaurant details</h2>
      <br/>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-3"></div>
    <script>
    window.initMap = function() {
      var location = {lat: parseFloat({{ latitude }}), lng: parseFloat({{ longitude }})};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
    </script>
    <!--Place your own API key here-->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=window.initMap">
    </script>
    <div class="starter-template col-sm-6" id="map">

    </div>
    <div class="col-sm-3"></div>
  </div>
{% endblock %}
