{% extends "base.html" %}
{% block content %}
  <div class="row starter-template">
    <div class="col-12">
      <h2>Motivation selection methods for superintelligence</h2><br/>
    </div>
    <div class="col-md-3 col-sm-6 book">
      <h4>Direct specification</h4>
      The system is endowed with some directly specified motivation system, which might be consequentialist or involve following a set of rules.
    </div>
    <div class="col-md-3 col-sm-6 book">
      <h4>Domesticity</h4>
      A motivation system is designed to severely limit the scope of the agent's ambitions and activities.
    </div>
    <div class="col-md-3 col-sm-6 book">
      <h4>Indirect normativity</h4>
      Indirect normativity could involve rule-based or consequentialist principles, but is distinguished by its reliance on an indirect approach to specifying the rules that are to be followed or the values that are to be pursued.
    </div>
    <div class="col-md-3 col-sm-6 book">
      <h4>Augmentation</h4>
      One starts with a system that already has substantially human or benevolent motivations, and enhances its cognitive capacities to make it superintelligent.
    </div>
  </div>
{% endblock %}
