html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 60px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #292b2c;
  text-align: center;
}

.book {
  text-align: justify;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top 0;
  left: 100%;
  margin-top: -1px;
}
